<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Confirm Your Email Address</title>
    </head>
    <body>
        <h2>Hello {{ user.username }},</h2>
        <h3>Welcome to RUNAM!  - Simplifying Your To-Do List!</h3>
        <p>
            We are thrilled to welcome you to RUNAM, your go-to solution for seamless task completion. We understand that life can get busy, and there are never enough hours in a day to accomplish everything on your to-do list. That's where we come in!

At RUNAM, our mission is to make your life easier by taking care of those time-consuming tasks that often pile up. Whether it's picking up dry cleaning, grocery shopping, organizing your home, or running errands, we've got you covered. With our reliable and efficient task pickup service, you can finally reclaim your valuable time and focus on what matters most to you.
        </p>

        <p>Please confirm your email address by clicking on the following link:</p>
        <a href="http://{{ domain }}/users/confirm-email/{{ uid }}/{{ token }}">Confirm Email</a>

        <p>If the link didn't open, kindly copy and paste the following link into your browser</p>
        <a href="http://{{ domain }}/users/confirm-email/{{ uid }}/{{ token }}">http://{{ domain }}/users/confirm-email/{{ uid }}/{{ token }}</a>


        <div>
            Thank you once again for choosing RUNAM. We look forward to serving you and making your life a little bit easier.

            Best regards,
            
            Tani Ifegbesan
            Founder
            RUNAM
            noreply@runam.com
        </div>
         
        <p>If you didn't sign up for our site, please ignore this email.</p>

        <p>Best regards,</p>
        <!-- <p>Web Team | Prosper's app</p> -->
    </body>
</html>